# SQLite
서버 없이 DB 파일에 기초하여 DB 처리를 구현한 **임베디드 SQL DB 엔진**

* 클라이언트 응용 프로그램에 임베디드되어 동작하는 오픈 소스 DBMS의 일종.
* MySQL이나 PastgreSQL과 같은 데이터베이스 관리 시스템(DBMS)이지만, 서버가 아닌 응용 프로그램에 넣어 사용하기 때문에 비교적 가벼운 데이터베이스이다.
* 일반적인 RDBMS에 비해 대규모 작업에는 적합하지 않다.
* 데이터베이스 전체를 파일 하나에 저장한다.

In [1]:
import sqlite3

### DB 연결하기

In [2]:
import os
db_path = os.getenv('HOME')+'/workspace/aiffel/sqlite/test.db' #확장자명은 .db
connect = sqlite3.connect(db_path)
print(connect)

<sqlite3.Connection object at 0x7f682854be30>

### SQL 쿼리를 수행하는 객체

In [3]:
cursor = connect.cursor()
print(cursor)

<sqlite3.Cursor object at 0x7f6824412340>

### SQL 쿼리 실행

In [4]:
# table 생성
cursor.execute("CREATE TABLE IF NOT EXISTS stocks (data text, trans text, symbol text, qty real, price real)")

cursor.execute("INSERT INTO stocks VALUES ('202011104', 'TEST', 'AIFFEL', 1, 100)")
cursor.execute("SELECT * FROM stocks")
print(cursor.fetchone())

('202011104', 'TEST', 'AIFFEL', 1.0, 100.0)

In [6]:
cursor.execute("SELECT data FROM stocks")
print(cursor.fetchone())

('202011104',)

In [9]:
connect.commit() #DB에 데이터를 실제로 업데이트

In [10]:
cursor.close()
connect.close()

### DML(Data Management Language)

In [11]:
conn = sqlite3.connect(db_path)
c = conn.cursor()

#- ! 재실행 시 테이블이 존재할 수 있으므로 아래처럼 해당 테이블들을 모두 지워줍니다.
c.execute("DROP TABLE IF EXISTS 도서대출내역")
c.execute("DROP TABLE IF EXISTS 도서대출내역2")
c.execute("DROP TABLE IF EXISTS 대출내역")
c.execute("DROP TABLE IF EXISTS 도서명")


#----- 1st table : 도서대출내역 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서대출내역 (ID varchar, 이름 varchar, 도서ID varchar, 대출일 varchar, 반납일 varchar)")
#- 생성(create)문 : 테이블명, 변수명, 변수타입을 지정

data = [('101','문강태','aaa','2020-06-01','2020-06-05'),
             ('101','문강태','ccc','2020-06-20','2020-06-25'),
             ('102','고문영','bbb','2020-06-01',None),
             ('102','고문영','ddd','2020-06-08',None),
             ('103','문상태','ccc','2020-06-01','2020-06-05'),
             ('104','강기둥',None,None,None)]
#- 입력할 데이터를 그대로 입력 (변수명 순서 기준대로)

c.executemany('INSERT INTO 도서대출내역 VALUES (?,?,?,?,?)', data)
#- 입력할 데이터를 실제 테이블에 insert하기(데이터 바인딩)
#-----------------------------------------------#


#----- 2nd table : 도서대출내역2 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서대출내역2 (ID varchar, 이름 varchar, 대출년월 varchar, 대출일수 varchar)")

data = [('101','문강태','2020-06','20일'),
             ('102','고문영','2020-06','10일'),
             ('103','문상태','2020-06','8일'),
             ('104','강기둥','2020-06','3일')]
c.executemany('INSERT INTO 도서대출내역2 VALUES (?,?,?,?)', data)
#--------------------------------------------------#


#----- 3rd table : 대출내역 -----#
c.execute("CREATE TABLE IF NOT EXISTS 대출내역 (ID varchar, 이름 varchar, 도서ID varchar)")

data = [('101','문강태','aaa'),
             ('102','고문영','bbb'),
             ('102','고문영','fff'),
             ('103','문상태','ccc'),
             ('104','강기둥',None)]
c.executemany('INSERT INTO 대출내역 VALUES (?,?,?)', data)
#-----------------------------------------#


#----- 4th table : 도서명 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서명 (도서ID varchar, 도서명 varchar)")

data = [('aaa','악몽을 먹고 자란 소년'),
             ('bbb','좀비아이'),
             ('ccc','공룡백과사전'),
             ('ddd','빨간구두'),
             ('eee','잠자는 숲속의 미녀')]

c.executemany('INSERT INTO 도서명 VALUES (?,?)', data)
#--------------------------------------#

conn.commit()
conn.close()

In [14]:
conn = sqlite3.connect(db_path)
c = conn.cursor()

for row in c.execute('SELECT * FROM 도서명'):
    print(row)
print()
for row in c.execute('SELECT * FROM 대출내역'):
    print(row)

('aaa', '악몽을 먹고 자란 소년')
('bbb', '좀비아이')
('ccc', '공룡백과사전')
('ddd', '빨간구두')
('eee', '잠자는 숲속의 미녀')

('101', '문강태', 'aaa')
('102', '고문영', 'bbb')
('102', '고문영', 'fff')
('103', '문상태', 'ccc')
('104', '강기둥', None)

## 쿼리 구조
* `SELECT` : 조회할 컬럼명 선택
* `FROM` : 조회할 테이블명 지정
* `WHERE` : 쿼리에 필요한 조건 설정
* `GROUP BY` : 특정 컬럼을 기준으로 그룹지어 출력

In [16]:
# 해당 테이블 전체 조회
for row in c.execute('SELECT * FROM 도서대출내역'):
    print(row)

# 해당 테이블의 특정 컬럼만 조회
for row in c.execute('SELECT ID FROM 도서대출내역'):
    print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')
('104', '강기둥', None, None, None)
('101',)
('101',)
('102',)
('102',)
('103',)
('104',)

In [17]:
# 조건 부여
for row in c.execute('SELECT * FROM 도서대출내역 WHERE 이름 = "문강태"'):
    print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')

Distinct와 group by
* distinct : 특정 컬럼들이 갖고 있는 값들의 중복을 제거할 때 사용. 주로 `count`와 같은 함수와 같이 사용한다.
    * ```SELECT DISTINCT A FROM 테이블```
    * ```SELECT COUNT(DISTINCT A) FROM 테이블```
* group by : 특정 기준으로 집계. 집계성 함수 `count, max, min, avg`등과 사용한다.
    * ```SELECT A, MAX(B) FROM 테이블 GROUP BY A```

In [20]:
# 그룹화하기
for row in c.execute('SELECT 이름 FROM 도서대출내역 GROUP BY 이름'):
    print(row)
print()
# 중복 제거하기
for row in c.execute('SELECT DISTINCT 이름 FROM 도서대출내역'):
    print(row)

('강기둥',)
('고문영',)
('문강태',)
('문상태',)

('문강태',)
('고문영',)
('문상태',)
('강기둥',)

In [23]:
# 정렬하기
for row in c.execute('SELECT * FROM 도서대출내역 ORDER BY ID'): #ASC default
    print(row)
    
print()
for row in c.execute('SELECT * FROM 도서대출내역 ORDER BY ID DESC'):
    print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')
('104', '강기둥', None, None, None)

('104', '강기둥', None, None, None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')

In [24]:
# limit : 처음 테이블을 조회할 때 테이블 구조 및 데이터 파악 용도로 사용
for row in c.execute('SELECT * FROM 도서대출내역 LIMIT 5'):
    print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('101', '문강태', 'ccc', '2020-06-20', '2020-06-25')
('102', '고문영', 'bbb', '2020-06-01', None)
('102', '고문영', 'ddd', '2020-06-08', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')

count : 행 수를 센다.
* 특정 컬럼에 데이터가 있는 행을 세려면 괄호 안에 컬럼명을 쓴다. `count(column)`
* ( * )는 테이블의 모든 행의 개수를 센다. ```SELECT COUNT(*) FROM table``` 

as : column alias
* 값을 새로운 컬럼에 새로 저장한다.

In [25]:
for row in c.execute('SELECT 이름, COUNT(*) AS 대출건수 FROM 도서대출내역 GROUP BY 이름'):
    print(row)

('강기둥', 1)
('고문영', 2)
('문강태', 2)
('문상태', 1)

substr : 값을 잘라냄
* sqlite에서 `split_part()`함수를 제공하기도 한다.

cast : 형 변환
* ```cast(컬럼명 as 변환할 타입)```

In [27]:
for row in c.execute('SELECT *, SUBSTR(대출일수, 1, (length(대출일수)-1)) AS 대출일_수정 FROM 도서대출내역2'):
    print(row)

('101', '문강태', '2020-06', '20일', '20')
('102', '고문영', '2020-06', '10일', '10')
('103', '문상태', '2020-06', '8일', '8')
('104', '강기둥', '2020-06', '3일', '3')

In [31]:
for row in c.execute('SELECT *, CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT) AS 대출일_수정 FROM 도서대출내역2'):
    print(type(row[4]))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [32]:
for row in c.execute('SELECT ID, 이름, 대출년월, AVG(CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT)) AS 대출일수_평균 FROM 도서대출내역2 GROUP BY 1,2,3'):
    print(row)

('101', '문강태', '2020-06', 20.0)
('102', '고문영', '2020-06', 10.0)
('103', '문상태', '2020-06', 8.0)
('104', '강기둥', '2020-06', 3.0)

### Where절 사용하기

특정 문자를 포함하는 행 가져오기
* `문%` : 문으로 시작하는 모든 문자열을 가져온다.
* `%문%` : 문자열에 문이 포함되면 모두 가져온다.
* `%문`: 문으로 끝나는 모든 문자열을 가져온다.

In [33]:
for row in c.execute('SELECT * FROM 도서대출내역2 WHERE 이름 LIKE "문%"'):
    print(row)

('101', '문강태', '2020-06', '20일')
('103', '문상태', '2020-06', '8일')

In [37]:
for row in c.execute('SELECT * FROM 도서대출내역2 WHERE 이름 LIKE "%문%"'):
    print(row)

('101', '문강태', '2020-06', '20일')
('102', '고문영', '2020-06', '10일')
('103', '문상태', '2020-06', '8일')

특정 기간/날짜
* 조건 AND 조건
* BETWEEN 조건 AND 조건 : 시작일과 종료일을 **포함**한다.

In [35]:
for row in c.execute('SELECT * FROM 도서대출내역 WHERE 대출일 BETWEEN "2020-06-01" AND "2020-06-07"'):
    print(row)

('101', '문강태', 'aaa', '2020-06-01', '2020-06-05')
('102', '고문영', 'bbb', '2020-06-01', None)
('103', '문상태', 'ccc', '2020-06-01', '2020-06-05')

NULL 조건 빼기
* WHERE 반납일 IS NOT NULL

In [38]:
for row in c.execute('SELECT 이름 FROM 도서대출내역 WHERE 이름 LIKE "%태" AND 대출일 >= "2020-06-19" AND ID < 102 AND 반납일 IS NOT NULL'):
    print(row)

('문강태',)

### Data JOIN
* Inner join : 두 테이블의 교집합 조회
* Left join : (기준은 A테이블) A 테이블을 기준으로 해서 B 테이블은 공통되는 부분만 조회
* Right join : (기준은 B테이블) B 테이블을 기준으로 해서 A 테이블은 공통되는 부분만 조회
* Full join : 두 테이블 모두에서 빠트리는 부분 없이 조회

In [39]:
for row in c.execute('SELECT * FROM 대출내역'):
    print(row)
for row in c.execute('SELECT * FROM 도서명'):
    print(row)

('101', '문강태', 'aaa')
('102', '고문영', 'bbb')
('102', '고문영', 'fff')
('103', '문상태', 'ccc')
('104', '강기둥', None)
('aaa', '악몽을 먹고 자란 소년')
('bbb', '좀비아이')
('ccc', '공룡백과사전')
('ddd', '빨간구두')
('eee', '잠자는 숲속의 미녀')

join의 핵심은 `key`이다!

```
SELECT 컬럼1, 컬럼2, 컬럼3... FROM A테이블 AS A
{INNER/LEFT/RIGHT/FULL OUTER} JOIN B테이블 AS B 
ON A.결합컬럼 = B.결합컬럼
WHERE ~
```

In [40]:
for row in c.execute('SELECT A.*, B.도서명 FROM 대출내역 AS A INNER JOIN 도서명 AS B ON A.도서ID = B.도서ID'):
    print(row)

('101', '문강태', 'aaa', '악몽을 먹고 자란 소년')
('102', '고문영', 'bbb', '좀비아이')
('103', '문상태', 'ccc', '공룡백과사전')

In [41]:
for row in c.execute('SELECT A.*, B.도서명 FROM 대출내역 AS A LEFT JOIN 도서명 AS B ON A.도서ID = B.도서ID'):
    print(row)

('101', '문강태', 'aaa', '악몽을 먹고 자란 소년')
('102', '고문영', 'bbb', '좀비아이')
('102', '고문영', 'fff', None)
('103', '문상태', 'ccc', '공룡백과사전')
('104', '강기둥', None, None)

In [42]:
for row in c.execute('SELECT A.*, B.도서명 FROM 대출내역 AS A RIGHT JOIN 도서명 AS B ON A.도서ID = B.도서ID'):
    print(row)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

### Nested Query(중첩 질의)
```
SELECT C.이름, COUNT(*) 대출건수
FROM (
    SELECT A.*, B.도서명 
    FROM 대출내역 AS A 
    LEFT JOIN 도서명 AS B
    ON A.도서ID = B.도서ID ) C
GROUP BY C.이름
```

In [43]:
for row in c.execute('SELECT C.이름, COUNT(*) 대출건수 FROM (SELECT A.*, B.도서명 FROM 대출내역 AS A LEFT JOIN 도서명 AS B ON A.도서ID = B.도서ID ) C GROUP BY C.이름'):
    print(row)

('강기둥', 1)
('고문영', 2)
('문강태', 1)
('문상태', 1)

### 쿼리 조건문
1. IFNULL
    ```
    SELECT A.*, IFNULL(B.도서명, '도서명미상') AS 도서명
    FROM 대출내역 AS A 
    LEFT JOIN 도서명 AS B
    ON A.도서ID = B.도서ID
    ```
2. CASE
    ```
    SELECT 이름, CASE WHEN 대출일수_수정 > 5 THEN '기간초과' ELSE '기간내' END AS 대출기간
    FROM (
    SELECT *, CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT) AS 대출일수_수정 
    FROM 도서대출내역2 )
    ```